.gradient-custom-3 {
background: #84fab0;

background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 2), rgba(143, 211, 244, 2));

background: linear-gradient(to right, rgba(132, 250, 176, 2), rgba(143, 211, 244, 2))
}
.gradient-custom-4 {
background: #84fab0;

background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 2), rgba(143, 211, 244, 2));

background: linear-gradient(to right, rgba(132, 250, 176, 2), rgba(143, 211, 244, 2))
}